*{
    margin: 0rem;
    padding: 0rem;
}
body{
    margin: 0rem;
    padding: 0rem;
    background-color: rgb(251, 242, 192);
}
html{
    font-size: 100%;
}
nav{
    position: sticky;
    top: 0rem;
    width: 100%;
    background-color: rgb(67, 66, 67);
    box-shadow: rgba(27, 31, 35, 0.04) 0px 1px 0px, rgba(255, 255, 255, 0.25) 0px 1px 0px inset;
    display: grid;
    grid-template-columns: 85% auto;

}
#title{
    
}
#title h2{
    font-family: 'Oswald', sans-serif;
    color: gold;
    font-weight: bold;
    margin-left: 2rem;
    padding: .5rem;

}
.switch{
    /* border: .2rem solid red; */
    
}
.form-check{
    margin-top: 1rem;
    color: white;
}
#container{
    display: grid;
    grid-template-columns:65% auto;
    grid-column-gap:2rem;
}
#dice{
    margin-top: 10rem;
    height: 15rem;
    width: 15rem;
    
    background-color: rgb(200, 7, 7);
    border-radius: .5rem;
    
}
#circles{
    margin: 1rem;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-row-gap: .5rem;
}
#result{
    margin-top: 10rem;
    margin-left: 20rem;
}
#result p{
    color: rgb(37, 247, 107);
    font-size: 5rem;
    font-family: 'Permanent Marker', cursive;
    text-align: center;
    padding-top: 2rem;
}

.circle{
    height: 4rem;
    width: 4rem;
    background-color: white;
    border-radius: 100%;

}
.xs{
    background-color: rgb(200, 7, 7);
}
#count{
    text-align: center;
}
#xcount{
    text-align: center;
    
}

@media(max-width:998px){
    html{
        font-size:75%;
    }
}


@media(max-width:850px){
    nav{
        position: sticky;
        top: 0rem;
        width: 100%;
        background-color: rgb(67, 66, 67);
        box-shadow: rgba(27, 31, 35, 0.04) 0px 1px 0px, rgba(255, 255, 255, 0.25) 0px 1px 0px inset;
        display: grid;
        grid-template-columns: 65% auto;
    
    }
    #title h2{
        font-family: 'Oswald', sans-serif;
        color: gold;
        font-weight: bold;
        margin-left: 1.5rem;
        padding: 4rem;
        font-size: 6.5rem;
    
    }
    #switch{
        font-size: 2rem;
    }
    .form-check{
        margin-top: 8rem;
        color: white;
    }
    #container{
        display: grid;
        grid-template-columns:auto;
        /* grid-row-gap:2rem; */
    }
    #dice{
        margin: 0rem;
        margin-top: 20rem;
        margin-bottom: 20rem;
        height: 40rem;
        width: 40rem;
        
        background-color: rgb(200, 7, 7);
        border-radius: 5rem;
        margin-left: 28%;
    }
    #circles{
        
        margin: 4rem;
        margin-right: 2rem;
        display: grid;
        grid-template-columns: auto auto auto;
        grid-row-gap: 4rem;
        

    }
    #result{
        margin: 0rem;
        margin-top: 20rem;
        align-items: center;
    }
    #result p{
        color: rgb(37, 247, 107);
        font-size: 15rem;
        font-family: 'Permanent Marker', cursive;
        text-align: center;
    }
    
    .circle{
        height: 8rem;
        width: 8rem;
        background-color: white;
        border-radius: 100%;
    
    }
    .xs{
        background-color: rgb(200, 7, 7);
    }
    #count{
        font-size: 5rem;
    }
    #xcount{
        font-size: 5rem;
    }
}


@media(max-width:700px){
    nav{
        position: sticky;
        top: 0rem;
        width: 100%;
        background-color: rgb(67, 66, 67);
        box-shadow: rgba(27, 31, 35, 0.04) 0px 1px 0px, rgba(255, 255, 255, 0.25) 0px 1px 0px inset;
        display: grid;
        grid-template-columns: 65% auto;
    
    }
    #title h2{
        font-family: 'Oswald', sans-serif;
        color: gold;
        font-weight: bold;
        margin-left: 1.5rem;
        padding: 4rem;
        font-size: 5rem;
    
    }
    #switch{
        font-size: 1.5rem;
    }
    .form-check{
        margin-top: 6rem;
        color: white;
    }
    #container{
        display: grid;
        grid-template-columns:auto;
        /* grid-row-gap:2rem; */
    }
    #dice{
        margin: 0rem;
        margin-top: 20rem;
        margin-bottom: 20rem;
        height: 25rem;
        width: 25rem;
        
        background-color: rgb(200, 7, 7);
        border-radius: 4rem;
        margin-left: 30%;
    }
    #circles{
        
        margin: 2.5rem;
        margin-right: 1.5rem;
        display: grid;
        grid-template-columns: auto auto auto;
        grid-row-gap: 2rem;
        

    }
    #result{
        margin: 0rem;
        margin-top: 10rem;
        align-items: center;
    }
    #result p{
        color: rgb(37, 247, 107);
        font-size: 10rem;
        font-family: 'Permanent Marker', cursive;
        text-align: center;
    }
    
    .circle{
        height: 5rem;
        width: 5rem;
        background-color: white;
        border-radius: 100%;
    
    }
    .xs{
        background-color: rgb(200, 7, 7);
    }
    #count{
        font-size: 3rem;
    }
    #xcount{
        font-size: 3rem;
    }
}

@media(max-width:500px){
    nav{
        position: sticky;
        top: 0rem;
        width: 100%;
        background-color: rgb(67, 66, 67);
        box-shadow: rgba(27, 31, 35, 0.04) 0px 1px 0px, rgba(255, 255, 255, 0.25) 0px 1px 0px inset;
        display: grid;
        grid-template-columns: 60% auto;
    
    }
    #title h2{
        font-family: 'Oswald', sans-serif;
        color: gold;
        font-weight: bold;
        margin-left: 1.4rem;
        padding: 3.8rem;
        font-size: 4.5rem;
    
    }
    #switch{
        font-size: 1.3rem;
    }
    .form-check{
        margin-top: 5.5rem;
        color: white;
    }
    #container{
        display: grid;
        grid-template-columns:auto;
        /* grid-row-gap:2rem; */
    }
    #dice{
        margin: 0rem;
        margin-top: 17rem;
        margin-bottom: 17rem;
        height: 23rem;
        width: 23rem;
        
        background-color: rgb(200, 7, 7);
        border-radius: 3.5rem;
        margin-left: 28%;
    }
    #circles{
        
        margin: 2.3rem;
        margin-right: 1.4rem;
        display: grid;
        grid-template-columns: auto auto auto;
        grid-row-gap: 1.8rem;
        

    }
    #result{
        margin: 0rem;
        margin-top: 8rem;
        align-items: center;
    }
    #result p{
        color: rgb(37, 247, 107);
        font-size: 8rem;
        font-family: 'Permanent Marker', cursive;
        text-align: center;
    }
    
    .circle{
        height: 4.8rem;
        width: 4.8rem;
        background-color: white;
        border-radius: 100%;
    
    }
    .xs{
        background-color: rgb(200, 7, 7);
    }
    #count{
        font-size: 2.5rem;
    }
    #xcount{
        font-size: 2.5rem;
    }
}
@media(max-width:400px){
    nav{
        position: sticky;
        top: 0rem;
        width: 100%;
        background-color: rgb(67, 66, 67);
        box-shadow: rgba(27, 31, 35, 0.04) 0px 1px 0px, rgba(255, 255, 255, 0.25) 0px 1px 0px inset;
        display: grid;
        grid-template-columns: 60% auto;
    
    }
    #title h2{
        font-family: 'Oswald', sans-serif;
        color: gold;
        font-weight: bold;
        margin-left: 1.2rem;
        padding: 2.5rem;
        font-size: 3.5rem;
    
    }
    #switch{
        font-size: 1.1rem;
    }
    .form-check{
        margin-top: 4.5rem;
        color: white;
    }
    #container{
        display: grid;
        grid-template-columns:auto;
        /* grid-row-gap:2rem; */
    }
    #dice{
        margin: 0rem;
        margin-top: 15rem;
        margin-bottom: 15rem;
        height: 20rem;
        width: 20rem;
        
        background-color: rgb(200, 7, 7);
        border-radius: 3.2rem;
        margin-left: 24%;
    }
    #circles{
        
        margin: 2.2rem;
        margin-right: 1.3rem;
        display: grid;
        grid-template-columns: auto auto auto;
        grid-row-gap: 1.6rem;
        

    }
    #result{
        margin: 0rem;
        margin-top: 6rem;
        align-items: center;
    }
    #result p{
        color: rgb(37, 247, 107);
        font-size: 6rem;
        font-family: 'Permanent Marker', cursive;
        text-align: center;
    }
    
    .circle{
        height: 4.5rem;
        width: 4.5rem;
        background-color: white;
        border-radius: 100%;
    
    }
    .xs{
        background-color: rgb(200, 7, 7);
    }
    #count{
        font-size: 2.3rem;
    }
    #xcount{
        font-size: 2.3rem;
    }
}

@media(max-width:300px){
    nav{
        position: sticky;
        top: 0rem;
        width: 100%;
        background-color: rgb(67, 66, 67);
        box-shadow: rgba(27, 31, 35, 0.04) 0px 1px 0px, rgba(255, 255, 255, 0.25) 0px 1px 0px inset;
        display: grid;
        grid-template-columns: 80% auto;
    
    }
    #title h2{
        font-family: 'Oswald', sans-serif;
        color: gold;
        font-weight: bold;
        margin-left: 1rem;
        padding: 2.1rem;
        font-size: 3rem;
    
    }
    #switch{
        font-size: 1rem;
    }
    .form-check{
        margin-top: 3rem;
        color: white;
    }
    label{
        display: none;
    }
    #container{
        display: grid;
        grid-template-columns:auto;
        /* grid-row-gap:2rem; */
    }
    #dice{
        margin: 0rem;
        margin-top: 12rem;
        margin-bottom: 12rem;
        height: 16rem;
        width: 16rem;
        
        background-color: rgb(200, 7, 7);
        border-radius: 2.7rem;
        margin-left: 22%;
    }
    #circles{
        
        margin: 1rem;
        margin-right: .6rem;
        display: grid;
        grid-template-columns: auto auto auto;
        grid-row-gap: .5rem;
        

    }
    #result{
        margin: 0rem;
        margin-top: 4rem;
        align-items: center;
    }
    #result p{
        color: rgb(37, 247, 107);
        font-size: 3rem;
        font-family: 'Permanent Marker', cursive;
        text-align: center;
    }
    
    .circle{
        height: 4.2rem;
        width: 4.2rem;
        background-color: white;
        border-radius: 100%;
    
    }
    .xs{
        background-color: rgb(200, 7, 7);
    }
    #count{
        font-size: 1.6rem;
    }
    #xcount{
        font-size: 1.6rem;
    }
}

@media(max-width:200px){
    nav{
        position: sticky;
        top: 0rem;
        width: 100%;
        background-color: rgb(67, 66, 67);
        box-shadow: rgba(27, 31, 35, 0.04) 0px 1px 0px, rgba(255, 255, 255, 0.25) 0px 1px 0px inset;
        display: grid;
        grid-template-columns: 85% auto;
    
    }
    #title h2{
        font-family: 'Oswald', sans-serif;
        color: gold;
        font-weight: bold;
        margin-left: .3rem;
        padding: 1.2rem;
        font-size: 1.5rem;
    
    }
    #switch{
        font-size: .7rem;
    }

    .form-check{
        margin-top: 2rem;
        color: white;
    }
    label{
        display: none;
    }
    #container{
        display: grid;
        grid-template-columns:auto;
        /* grid-row-gap:2rem; */
    }
    #dice{
        margin: 0rem;
        margin-top: 3rem;
        margin-bottom: 3rem;
        height: 10rem;
        width: 10rem;
        
        background-color: rgb(200, 7, 7);
        border-radius: 1.5rem;
        margin-left: 18.5%;
    }
    #circles{
        
        margin: .7rem;
        margin-right: .3rem;
        display: grid;
        grid-template-columns: auto auto auto;
        grid-row-gap: .1rem;
        

    }
    #result{
        margin: 0rem;
        margin-top: 1.5rem;
        padding-top: 0rem;
        align-items: center;
    }
    #result p{
        color: rgb(37, 247, 107);
        font-size: 1.5rem;
        font-family: 'Permanent Marker', cursive;
        text-align: center;
    }
    
    .circle{
        height: 2.8rem;
        width: 2.8rem;
        background-color: white;
        border-radius: 100%;
    
    }
    .xs{
        background-color: rgb(200, 7, 7);
    }
    #count{
        font-size: .6rem;
    }
    #xcount{
        font-size: .6rem;
    }
}